.main_box {
	display: flex;
}
#earningdetails, .deductiondetails {
	width: 100%;
	border-collapse: collapse;
}
#earningdetails td, #earningdetails th, .deductiondetails td, .deductiondetails th {
	padding: 0.5em; 
}
#earningdetails thead {
	padding-top: 1em;	
	border-bottom: 2px dashed mediumblue;
	color: mediumblue;
	border-top: 2px solid mediumblue;
}

#earningdetails tbody {
	border-bottom: 2px solid mediumblue;
}